**/.DS_Store
__pycache__/
 *.pyc

Scully_Ciona_blood_2025/data/*
!Scully_Ciona_blood_2025/data/README.md
Scully_Ciona_blood_2025/scRNA-seq_analysis/go_enrichment_analysis/go_enrichment_analysis_output
Scully_Ciona_blood_2025/scRNA-seq_analysis/go_enrichment_analysis/differentiation_graph_output
